$primary-color: #010101;
$secondary-color: #941b1f;
$secondaryDark-color: #5a1a0d;
$neutralDark-color: #dcd9ce;
$neutralLight-color: #fffaf5;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin transition {
    transition: all 0.3s ease-in-out;
}

@mixin large {
    @media screen and (min-width: 1000px) {
        @content;
    }
}


@mixin medium {
    @media screen and (max-width: 1000px) {
        @content;
    }
}

@mixin small {
    @media screen and (max-width: 600px){
        @content;
    }
}