body {
  height: 100vh;
}
.home {
  height: 75vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
      to bottom,
      rgba($primary-color, 0.8),
      rgba($primary-color, 0.1)
    ),
    url("https://5ylvia.github.io/blackestate/dist/image/black_estate_34.jpg")
      center;
  background-size: cover;
}

.media {
  height: 300px;
  display: flex;
  width: 100%;
}

.media-left {
  background: linear-gradient(rgba($primary-color, 0.3)),
    url("https://5ylvia.github.io/blackestate/dist/image/B\ &\ B.jpg") center
      right;
}
.media-center {
  background: linear-gradient(rgba($primary-color, 0.3)),
    url("https://5ylvia.github.io/blackestate/dist/image/IMG_0884.jpg") center
      top;
}
.media-right {
  background: linear-gradient(rgba($primary-color, 0.3)),
    url("https://5ylvia.github.io/blackestate/dist/image/IMG_3245\ copy.jpg")
      center top;
}

.media-item {
  background-size: cover;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.white-btn {
  border: 2px solid $neutralLight-color;
  width: 200px;
  background-color: rgba($primary-color, 0);
  font-size: 1rem;
  color: $neutralLight-color;
  margin-top: 30px;
  &:hover {
    background-color: $secondary-color;
    border-color: $secondary-color;
  }
}
